/* Réinitialisation des marges et paddings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Style du body */
body {
	margin: 0;
	position: relative;
	min-height: 100vh;
	overflow: hidden;
	font-family: Arial, sans-serif;
	/* Ajout d'une police par défaut */
}

/* Définition des animations */
@keyframes scrollBackground {
	from {
		background-position: 0 0;
	}

	to {
		background-position: -100% 0;
	}
}

/* Arrière-plan animé */
.canvas-background {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background:
		radial-gradient(circle, #c78814 0.75%, #fff0 0) 50% 50% / 37% 37%,
		radial-gradient(circle, #fffee1 0.5%, #fff0 0) -60% -6% / 67% 45%,
		radial-gradient(circle, #fffee1 0.5%, #fff0 0) 17% 23% / 57% 39%,
		radial-gradient(circle, #fffee1 0.75%, #fff0 0) -10% -25% / 78% 58%,
		radial-gradient(circle, #c78814 0.5%, #fff0 0) -25% 35% / 78% 58%,
		radial-gradient(circle, #fffee1 0.5%, #fff0 0) -21% 56% / 47% 55%,
		linear-gradient(#011222 60%, #5a4d01 90%),
		#000;
	animation: scrollBackground 240s linear infinite;
	z-index: -1;
}

/* Positionnement absolu pour tous les descendants */
.canvas-background *,
.canvas-background *::before,
.canvas-background *::after {
	position: absolute;
	box-sizing: border-box;
}

.moon {
	position: relative;
	top: 25%;
	left: 75%;
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	background: #efe7f1;
	background: radial-gradient(circle, #ded5e4e2 4%, #f8f6f6 100%);
	border-color: #0000;
	animation: move 60s infinite;
	z-index: 1;
}

@keyframes move {
	50% {
		box-shadow: 0 0 70px 20px #fffac9bb;
	}
}

.crat {
	position: absolute;
	top: 40%;
	left: 25%;
	width: 18%;
	height: 18%;
	border-radius: 50%;
	box-shadow: inset 1px 4px 5px 1px #b9adb9;
    border:4px #bbbbbb;
}

.crat2 {
	position: absolute;
	top: 44%;
	left: 54%;
	width: 10%;
	height: 10%;
}

.crat3 {
	position: absolute;
	top: 24%;
	left: 74%;
	width: 10%;
	height: 10%;
}

.crat4 {
	position: absolute;
	top: 14%;
	left: 20%;
	width: 10%;
	height: 10%;
}

.crat5 {
	top: 78%;
	left: 30%;
	width: 12%;
	height: 12%;
}

.crat6 {
	top: 75%;
	left: 60%;
	width: 14%;
	height: 14%;
}

/* Styles des nuages */
.cloud,
.cloud::before {
	top: 40vh;
	left: 0;
	width: 100%;
	height: 60vh;
	--cloud-color: #8a8a8a;
	--cloud:
		radial-gradient(farthest-side circle at 4% 25%, var(--cloud-color) 10vh, #fff0 0),
		radial-gradient(farthest-side circle at 20% 40%, var(--cloud-color) 19vh, #fff0 0),
		radial-gradient(farthest-side circle at 42% 36%, var(--cloud-color) 15vh, #fff0 0),
		radial-gradient(farthest-side circle at 50% 45%, var(--cloud-color) 8vh, #fff0 0),
		radial-gradient(farthest-side circle at 65% 58%, var(--cloud-color) 19vh, #fff0 0),
		radial-gradient(farthest-side circle at 80% 33%, var(--cloud-color) 15vh, #fff0 0),
		radial-gradient(farthest-side circle at 96% 30%, var(--cloud-color) 12vh, #fff0 0),
		linear-gradient(#0000 40%, var(--cloud-color) 40%);
	opacity: 0.2;
	background: var(--cloud);
	filter: blur(10px);
	z-index: 2;
}

/* Styles des nuages ::before */
.cloud::before {
	--cloud-color: #fff;
	content: "";
	transform: translate(0, -35%) scaleX(-1.4);
	opacity: 0.55;
	filter: blur(1px);
}

/* Styles de la ville */
.city {
	width: 100%;
	height: 40%;
	left: 0;
	bottom: 0;
	z-index: 3;
}

.city::before {
	content: "";
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	background:
		linear-gradient(#0000 50%, #000c),
		conic-gradient(from 90deg at 98% 95%, #ffffff65 90deg, #0000 0) 0% 50% / 20% 20%,
		conic-gradient(from 90deg at 98% 95%, #ffff004d 90deg, #0000 0) 17% 25% / 22% 20%,
		conic-gradient(from 90deg at 98% 95%, #ffff004d 90deg, #0000 0) 21% 40% / 17% 21%,
		conic-gradient(from 90deg at 98% 95%, #ffff004d 90deg, #0000 0) 90% 4% / 21% 21%,
		conic-gradient(from 90deg at 98% 95%, #ffff004d 90deg, #0000 0) 6% 88% / 21% 21%,
		conic-gradient(from 90deg at 98% 95%, #ffff004d 90deg, #0000 0) 7% 82% / 21% 21%,
		conic-gradient(from 90deg at 98% 95%, #ffffff65 90deg, #0000 0) 18.5% -35% / 20% 23%,
		conic-gradient(from 90deg at 96% 94%, #ffffff65 90deg, #0000 0) -8% -43% / 12% 19%,
		linear-gradient(#3a3a3a67, #000224),
		#000;
	clip-path: polygon(-5% 40%, 2.5% 40%, 2.5% 20%, 7.5% 20%, 7.5% 55%, 8.5% 55%, 8.5% 65%, 10% 65%,
			11% 65%, 11% 27%, 14.5% 27%, 14.5% 46%, 16.5% 46%, 16.5% 42%, 22% 42%, 22% 60%,
			25% 60%, 25% 10%, 26.25% 10%, 26.5% 0%, 26.75% 10%, 28% 10%, 28% 65%,
			30% 65%, 35% 65%, 35% 32%, 35.5% 32%, 35.5% 28%, 36% 28%, 36% 15%, 38% 15%,
			38% 28%, 39% 28%, 39% 32%, 39% 32%, 39% 45%, 40% 45%, 40% 37%, 42.5% 37%,
			42.5% 49%, 44% 49%, 44% 70%, 46% 70%, 46% 59%, 47% 59%, 49% 70%, 49% 40%,
			52.5% 40%, 52.5% 30%, 55% 30%, 55% 55%, 60% 55%, 60% 80%, 66% 80%, 66% 25%,
			66.5% 25%, 66.5% 20%, 67% 20%, 67% 11%, 68% 11%, 68% 9.5%, 69.5% 9.5%, 69.5% 11%,
			71% 11%, 71% 20%, 71.5% 20%, 71.5% 25%, 72% 25%, 72% 50%, 74% 50%, 74% 40%,
			80% 50%, 80% 80%, 80.25% 80%, 80.25% 65%, 82% 65%, 82.5% 52%, 83% 65%, 85% 65%, 85% 80%,
			90% 80%, 90% 60%, 95% 60%, 95% 40%, 100% 40%, 105% 105%, -5% 105%)
}

