/* Reset des marges et paddings */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body:before {
    content: "";
    position: fixed;
    inset: -75px;

    background:
     repeating-radial-gradient(#343a40 0 0.0001%,#fff 0 0.0002%)
      60% 60%/3000px 3000px,
     repeating-conic-gradient(#343a40 0 0.0001%,#fff 0 0.0002%)
      40% 40%/4000px 3000px;

    background-blend-mode: difference;
    filter: blur(2px) contrast(100) brightness(40);
    mix-blend-mode: lighten;
}

body {
	font-family: Arial, sans-serif;
	/*background-color: #222222;*/
	color: #f5f5f5;
	overflow: hidden;

	margin: 0;
    width: 100vw;
    height: 100vh;
    /*text-shadow: 8px 8px 10px #0000008c;*/
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}

h1, h2 { 
	font-family: 'Leckerli One', Arial, sans-serif, cursive;
	text-shadow: 2px 4px #00000080;
}

h3 {
	margin: 0;
	padding: 10px;
	background-color: #ffffff20;
}

.p-justify {
	text-align: justify;
	margin: 0px;
	padding: 2px;
}

.paragraph {
	margin: 0px;
	padding-bottom: 20px;
}

.indent {
	text-indent: 3em;
}

.p-center {
	text-align: center;
}

.p-right {
	text-align: right;
	padding-right: 10px;
}

a {
	color: #8874ff;
	text-decoration: none;
}

a:hover {
	color: #ff0303;
	text-decoration: none;
}

ul {
	list-style-type: square;
	list-style-position: inside;
	list-style-image: none;
	margin-left: 20px;
	margin-bottom: 10px;
}

/* Barre latérale de navigation */
#sidebar {
	position: fixed;
	top: 0px; /* Hauteur de l'en-tête */
	left: -250px; /* Masquée par défaut */
	width: 250px;
	height: 100%;
	background: linear-gradient(#aa6a26, #000000);
	backdrop-filter: blur(20px); /* Effet de flou */
	color: white;
	transition: left 0.3s ease;
	padding-top: 20px;
	font-family: 'Leckerli One', Arial, sans-serif, cursive;
	font-size: 25px;
	z-index: 900;
}

/* Liens de navigation */
#sidebar a {
	display: block;
	padding: 15px 20px;
	color: #a3a3a3;
	text-decoration: none;
	transition: background 0.5s;
}

#sidebar a:hover {
	color: #f1f1f1;
	text-shadow: 0 4px #00000080;
	background: linear-gradient(#f1f1f120, #f1f1f140, #f1f1f120);
	transition: 0.5s;
}

/* Sidebar ouverte */
#sidebar.open {
	left: 0;
}

/* Bouton hamburger */
#hamburger {
	position: fixed;
	font-size: 30px;
	cursor: pointer;
	color: #f5f5f5;
	top: 15px;
	left: 15px;
	z-index: 2;
	transition: left 0.5s;
	z-index: 1001;
}

#hamburger-bar1, #hamburger-bar2, #hamburger-bar3 {
	width: 35px;
	height: 5px;
	background-color: #f5f5f5;
	margin: 6px 0;
	transition: 0.4s;
}

body.menu-open #hamburger-bar1 {
	transform: rotate(-45deg) translate(-9px, 6px);
}

body.menu-open #hamburger-bar2 {
	opacity: 0;
}

body.menu-open #hamburger-bar3 {
	transform: rotate(45deg) translate(-8px, -8px);
}

/* En-tête fixe */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	padding-left: 10px;
	padding-right: 10px;
	/*padding-top: 40px;
	padding-bottom: 40px;*/
	border-bottom: #1b1b1bef 6px outset;

	background-color: #29292960; /* Couleur de fond translucide */
	backdrop-filter: sepia(80%) blur(4px); /* Effet de flou */
	display: flex;
	align-items: center;
	z-index: 999;
	transition: transform 0.3s ease, width 0.3s ease;
}


/* Conteneur du titre et sous-titre */
.title-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
}

#header-title {
	font-size: 32px;
	font-family: 'Leckerli One', Arial, sans-serif, cursive;
}

#header-subtitle {
	font-size: 22px;
	font-weight: normal;
	font-family: 'Leckerli One', 'Times New Roman', sans-serif, cursive;
}

/* Contenu principal */
#main-content {
	position: fixed;
	top: 80px;		/* Hauteur de l'en-tête */
	padding: 20px;
	margin: 0 auto;	/* Centre horizontalement */
	width: 100%;
	height: calc(100vh - 120px);  /* Hauteur dynamique basée sur la hauteur de la fenêtre moins l'en-tête */
    overflow-y: auto;   /* Activer la scrollbar verticale */
	transition: transform 0.3s ease, width 0.3s ease;
	z-index: 10;
}

/* Sous-sections */
section {
	display: none;
	padding: 20px;
	border-radius: 5px;
}

section.active {
	display: block;
	transition: 0.5s;
}

.section-title {
	margin-bottom: 10px;
}

.section-content {
	padding: 10px;
	text-align: justify;
	border-style: outset;
	border-width: 6px;
	border-left-color: #3b3939ef;
	border-top-color: #696767ef;
	border-right-color: #272727ef;
	border-bottom-color: #0c0c0cef;
	background-color: #333030a9;
	backdrop-filter: blur(4px); /* Effet de flou */
	margin-bottom: 10px;

	h3 {
		margin-bottom: 20px;
	}

	h4 {
		margin-top: 10px;
	}

	img {
		width: 90%;
	}
}

.section-end {
	font-size:40px;
	margin-bottom: 50px;
	text-align: center;
}

.next-section-btn {
	display: block;
	margin-top: 20px;
	padding: 10px 20px;
	color: #fff;
	border-style: outset;
	border-width: 3px;
	border-left-color: #3b3939ef;
	border-top-color: #696767ef;
	border-right-color: #272727ef;
	border-bottom-color: #0c0c0cef;
	background-color: #333030a9;
	backdrop-filter: blur(4px); /* Effet de flou */
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.next-section-btn:hover {
	border-left-color: #3b3939ef;
	border-top-color: #696767ef;
	border-right-color: #272727ef;
	border-bottom-color: #0c0c0cef;
	background-color: #333030a9;
}

/* Pied de page fixe */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	border-top: #4e4b4bef 6px outset;
	background-color: #33303085; /* Couleur de fond translucide */
	backdrop-filter: sepia(80%) blur(4px); /* Effet de flou */
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	transition: transform 0.3s ease, width 0.3s ease;
}

/* Lorsque le menu est ouvert, déplacer header, main-content et footer */
body.menu-open header,
body.menu-open #main-content,
body.menu-open footer {
	transform: translateX(250px);
	width: calc(100% - 250px);
}

.download-button {
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	background-color: #e74c3c;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.download-button:hover {
	background-color: #c0392b;
}

.img-light-background {
	width: 80%;           /* Largeur de 80% du div parent */
	background-color: #ffffff90; /* Couleur de fond translucide */
	padding: 10px;         /* Padding de 10px de chaque côté */
	margin: 0 auto;        /* Centre horizontalement */
	display: block;        /* Nécessaire pour l'effet de centrer avec margin auto */

	img {
		width: 100%;
	}

	.img-title {
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		text-decoration: underline;
		margin-bottom: 0px;
		color:#000000;
	}
}

/* Afficher un encadré avec une photo de l'école à la position de
la souris lorsque celle-ci survole un lien (<a>) */
.tooltip {
	position: fixed; /* Positionné par rapport à la fenêtre visible */
    display: none;
	padding: 10px;
	background-color: #000000cc;
	color: #fff;
	border-radius: 5px;
	z-index: 1000;
}

.tooltip img {
	width: 200px;
	height: auto;
	border-radius: 5px;
}


/* Styles des cartes de projets */
.cards-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	align-items: center;
}

.card {
	position: relative;
	width: 275px;
	background: #fff;
	box-shadow: 0 2px 4px 0 #00000033;
	transition: all 0.2s ease-out;
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.ribbon-wrapper {
	width: 85px;
	height: 85px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	left: -3px;
	z-index: 1001;
}

.ribbon {
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background-color: #cf1a1a;
	transform: rotate(-45deg);
	width: 120px;
	position: absolute;
	top: 19px;
	left: -21px;
	padding: 5px 0;
	box-shadow: 0 3px 10px -5px #000000;
}

.card-image {
	position: relative;
	height: 200px;
	overflow: hidden;
}

.card-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
	cursor: pointer;
}

.card-image:hover img {
	transform: scale(1.1);
}

.card-text {
	padding: 15px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-text h4 {
	margin-bottom: 10px;
	font-size: 20px;
	color: #333;
}

.card-description {
	flex-grow: 1;
	font-size: 14px;
	color: #666;
	margin-bottom: 10px;
}

.card-date {
	font-size: 12px;
	color: #999;
	text-align: right;
}

/* Responsive */
@media (max-width: 600px) {
	#sidebar {
		width: 200px;
	}

	.card {
		width: 100%;
	}

	.projects-container {
		flex-direction: column;
		align-items: center;
	}
}

table {
	margin: 0;
	border-collapse: collapse;
	width: 100%;
}

thead {
	padding: 20px;
	font-weight: bold;
	background-color: #ffffff20;
}

th, td {
	border: 2px solid #ffffff20;
	padding: 10px;
	text-align: left;
}

/* Styles du Formulaire de Contact */
.contact-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 20px;
}

.form-group {
	display: flex;
	flex-direction: column;
}

.form-group label {
	margin-bottom: 5px;
	font-weight: bold;
	color: #f5f5f5;
}

.form-group input{
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.1);
	color: #f5f5f5;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.form-group textarea {
	min-height: 200px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.1);
	color: #f5f5f5;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
	color: #cccccc;
}

.form-group input:focus,
.form-group textarea:focus {
	background-color: rgba(255, 255, 255, 0.2);
	outline: none;
}

.submit-button {
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	background-color: #e74c3c;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.submit-button:hover {
	background-color: #c0392b;
}

/* Responsivité du Formulaire */
@media (max-width: 600px) {
	.contact-form {
		width: 100%;
	}
	.form-group textarea {
		width: 100%;
	}
}

@keyframes neon-text-blink {
	0%, 100% {
		text-shadow: none;
		color: #0000;
	}
	10%, 30%, 50% {
		color: red;
		text-shadow: 
			0 0 7px red,
			0 0 10px red,
			0 0 21px red,
			0 0 42px red;
	}
	20%, 40%, 60% {
		color: cyan;
		text-shadow: 
			0 0 7px cyan,
			0 0 10px cyan,
			0 0 21px cyan,
			0 0 42px cyan;
	}
	70% {
		color: green;
		text-shadow: 
			0 0 7px green,
			0 0 10px green,
			0 0 21px green,
			0 0 42px green;
	}
	80%, 100% {
		color: orange;
		text-shadow: 
			0 0 7px orange,
			0 0 10px orange,
			0 0 21px orange,
			0 0 42px orange;
	}
}

.neon-text-effect {
	color: #fff;
	animation: neon-text-blink 10s infinite;
	font-weight: 300;
}